
.ui.grid > .row {
  padding-bottom: .5rem !important;
  margin-top: .5rem !important;
}

.global__banner-link {
  color: white !important;
  font-weight: 500 !important
}

.global__utility-menu > * {
  margin-right: 2rem !important;
  font-weight: 300 !important;
}

.global__banner-link {
  line-height: 1 !important;
}

.ui.grid >.column:not(.row) {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}